body
{
    font-family: Arial, sans-serif;
    background-color: rgba(0, 255, 4, 0.1);
    padding: 20px;
}

h1
{
    color: #333;
}

table
{
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

table, th, td
{
    border: 1px solid #ccc;
}

th, td
{
    padding: 12px;
    text-align: left;
}

th
{
    background-color: #f8f8f8;
}

a
{
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
}

body {
    min-height: 100vh;
    display: flex;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background-color: #871919;
    color: white;
    padding-top: 20px;
    z-index: 1000; /* para que quede encima de cualquier contenido flotante */
}

.sidebar a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #871919;
}